[default]
ApplicationID=DummyClientApplicationID
FileStorePath=storage/messages/
ConnectionType=initiator
StartTime=00:01:00 Europe/Bucharest
EndTime=23:59:00 Europe/Bucharest
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX42.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y

UseMemoryDBLeaderLock=true
UseMemoryDBMessageStore=true


MemoryDBHost=localhost
MemoryDBPort=6379
    
MemoryDBLeaderLock=ClientFixEngineLeaderLock
MemoryDBLeaderLockDuration=3000
MemoryDBFixToAppQueueName=ClientFixToAppQueue
MemoryDBAppToFixQueueName=ClientAppToFixQueue

DebugLogging=false

[session]
BeginString=FIX.4.2
SocketConnectHost=localhost
SocketConnectPort=9877
SenderCompID=client
TargetCompID=server