[default]
ApplicationID=DummyServerApplicationID
FileStorePath=storage/messages/
ConnectionType=acceptor
StartTime=00:01:00 Europe/Bucharest
EndTime=23:59:00 Europe/Bucharest
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX42.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y

UseMemoryDBLeaderLock=true
UseMemoryDBMessageStore=true

MemoryDBHost=localhost
MemoryDBPort=6379
    
MemoryDBLeaderLock=ServerFixEngineLeaderLock
MemoryDBLeaderLockDuration=3000
MemoryDBFixToAppQueueName=ServerFixToAppQueue
MemoryDBAppToFixQueueName=ServerAppToFixQueue

GAEndpointGroupArn=DummyGlobalAcceleratorEndpointGroupArn
GAEndpointArn=DUMMY_GLOBAL_ACCELERATOR_ENDPOINT_ARN

DebugLogging=false

[session]
BeginString=FIX.4.2
SocketAcceptPort=9877
SenderCompID=server
TargetCompID=client
AcceptorTemplate=N